<plugin name='google-chart' version='0.2'>
  <author>James Williams</author>
  <authorEmail>jwill@codehaus.org</authorEmail>
  <title>This plugin adds Google Chart API features to Grails applications.</title>
  <resources>
    <resource>TextChartDataCodec</resource>
    <resource>SimpleChartDataCodec</resource>
    <resource>ExtendedChartDataCodec</resource>
    <resource>GoogleChartTagLib</resource>
    <resource>UrlMappings</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
  </resources>
</plugin>