
div#hd {
	background-color: black;
	margin: auto;
	height: 100px;
	background: #558EAD url(../images/header_bg.gif) repeat scroll 0%;
    margin-bottom: 12px;
}

#hdtitle {
    margin-left: 10px;
    font-size: 50px;
    font-family: Verdana;
    font-weight: bold;
    color: white;
}

#hdsubtitle {
    margin-left: 10px;
    font-size: 20px;
    font-family: Verdana;
    color: white;
}

body {
    background: #fff;
    color: #333;
    font: verdana, arial, helvetica, sans-serif;
    text-align: left;
    margin: auto;
}


.blogtitle a:link, .blogtitle a:visited {

    color: #6e7d8e;
    text-decoration: none;
    font-size: x-large;

}

.blogtitle a:hover {

    text-decoration: underline;

}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    list-style: square;
    
}

li {
    margin-left: 2em;
    margin-bottom: 4px;
}

.blogtitle {
    
}

.blogdate {
    color: #6e7d8e;
    font-size: small;
}

.printIcons {
    float: right;
}


/* Blog comments */

.blogcomments {
    margin-top: 5px;
    padding: 1em;
    background-color: #e6e6e6;

}

.blogcomment {
    
}

.blogcommentEven {
    background-color: white;
}

.blogcommentOdd {
    background-color: lightgray;
}


/* All that Blog Rolodex Jazz. Inspiration from http://www.wynia.org/wordpress/2005/09/05/css-date-blocks-for-blogs/ */

.dateblock {
   text-align: center;
   width: 50px;
   font-family: Arial;
   border: 1px solid black;
   background-color: #fa9b39;
   color: white;
   margin-right: 5px;
}
.day {
    font-size: 26px;
    position: relative;
    top: -5px;
}
.month {
    font-size: 12px;
    margin-top: 3px;
}
.year {
    font-size: 12px;
    position: relative;
    top: -10px;
}


.blogRolodex {
    float: left;
}

/* Stuff for the tag clouds */

.tagCloudSize0 { font-size: xx-small; }
.tagCloudSize1 { font-size: small;  }
.tagCloudSize2 { font-size: medium;  }
.tagCloudSize3 { font-size: large;  }
.tagCloudSize4 { font-size: xx-large;  } 
